body{


}

footer{
background-color:black; 
background-size:"cover";
background-attachment:fixed;
background-size: 100% 100%; 

}
header{


text-align:center;
font-size:larger;	
}
p{

font-family:sans-serif;
text-align:justify;
}

li{
text-align:justify;

}
#introduccion{
margin:90px;
background-color:#F1C40F
background-size:100% 100%;
}
#definir{
margin:90px;

}
#medir{
margin:90px;

}
#cuantificar{
margin:90px;

}
#comparar{
margin:90px;

}
#perfil{
margin:90px;

}
#referencias{
margin:90px;




}